{% set title = "Notams" %}
{% set zoom = 10 %}

{% extends "map.html" %}

{% block head %}
{{ super() }}
<script src="https://unpkg.com/leaflet.markercluster@1.0.5/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.5/dist/MarkerCluster.Default.css" />

<style type="text/css">
    .leaflet-popup pre {
        white-space: normal;
    }
    .marker-cluster div {
        border: 2px solid white;
        box-shadow: 4px 4px 10px #444;
    }
</style>
{% endblock head %}

{% block map %}
<script type="text/javascript">
    L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_nolabels/{z}/{x}/{y}.png', {
        maxZoom: 18, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy;<a href="https://carto.com/attribution">CARTO</a>'
    }).addTo(map);

    L.tileLayer("http://{s}.tile.maps.openaip.net/geowebcache/service/tms/1.0.0/openaip_basemap@EPSG%3A900913@png/{z}/{x}/{y}.png", {
        maxZoom: 14,
        minZoom: 4,
        tms: true,
        detectRetina: true,
        subdomains: '12',
        format: 'image/png',
        transparent: true,
        opacity: 0.5,
        attribution: 'OpenAIP'
    }).addTo(map);

    L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_only_labels/{z}/{x}/{y}.png', {
        maxZoom: 18, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy;<a href="https://carto.com/attribution">CARTO</a>'
    }).addTo(map);


    function onEachFeature(feature, layer) {
        layer.bindPopup(feature.properties.description);
    }


    fetch('{{ url_for("notams") }}')
    .then(function(response) {
        return response.json();
    })
    .then(function(data) {
        var clusters = L.markerClusterGroup().addTo(map);
        var geojson = L.geoJSON(data, {onEachFeature: onEachFeature}).addTo(clusters);
    });

</script>
{% endblock map %}
