{% set title = "Carte des zones" %}
{% set zoom = 11 %}

{% extends "map.html" %}

{% block head %}
{{ super() }}
<style type="text/css">
    .leaflet-tooltip {
        text-align: center;
    }
</style>
{% endblock head %}

{% block map %}
<script type="text/javascript">
    var zone = {{ SETTINGS.zone|tojson }},
        pressure = {{ SETTINGS.pressure|tojson }},
        acrobatics = {{ SETTINGS.acrobatics|tojson }};
    L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_nolabels/{z}/{x}/{y}.png', {
        maxZoom: 18, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy;<a href="https://carto.com/attribution">CARTO</a>'
    }).addTo(map);

    L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_only_labels/{z}/{x}/{y}.png', {
        maxZoom: 18, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy;<a href="https://carto.com/attribution">CARTO</a>'
    }).addTo(map);


    function fl_to_qfe(fl, mode) {
        var cherence_ft_level = 500,
            ft_to_meter = 0.3048,
            ft_by_hPa = 28;
        if (fl.endsWith('AMSL')) {
            fl = (parseInt(fl, 10) - cherence_ft_level);
        } else if (fl.startsWith('FL')) {
            fl = parseInt(fl.substring(2), 10) * 100;  // Flight level at 1024 hPa.
            fl = fl - (1024 - pressure) * ft_by_hPa;  // Flight level with current pressure.
        }
        fl = fl * ft_to_meter;  // In meters.
        fl = (mode == 'floor' ? Math.floor : Math.ceil)(fl / 100) * 100;
        return fl;
    }

    function levels_to_txt(AH, AL) {
        var ceil = fl_to_qfe(AH, 'floor'), floor = '—';
        if (AL) floor = fl_to_qfe(AL, 'ceil') + ' m QFE';
        return ceil + ' m QFE<br>-----------------<br>' + floor;
    }


    function onEachFeature(feature, layer) {
        var content = levels_to_txt(feature.properties.AH, feature.properties.AL),
            color = '#C0392B';
        if (feature.properties.AH === 'FL065') color = '#3FC380';
        else if (feature.properties.AH === 'FL055') color = '#e9d460';
        layer.options.color = color;
        layer.bindTooltip(content, {permanent: true, direction: 'center'});
    }


    function load_geojson(name, options) {
        fetch('{{ url_for("static", filename="data") }}/' + name + '.json')
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            L.geoJSON(data, options).addTo(map);
        });
    }

    function load_zone(name) {
        var style = {
            weight: 1
        }
        load_geojson(name, {onEachFeature: onEachFeature, style: style});
    }

    function load_contour(name) {
        var style = {
            color: '#8484b1',
            fill: false
        }
        load_geojson(name, {style: style});
    }

    function load_area(name) {
        var style = {
            color: '#613515',
            weight: 0.5
        }
        load_geojson(name, style);
    }

    function tooltip(content, latlng) {
        map.openTooltip(content, latlng, {permanent: true, direction: 'center'});
    };

    if (pressure) {
        if (zone) load_zone(zone);
        else load_zone('tma_paris');
    }
    if (acrobatics) load_zone('acrobatics');
    load_contour('tma_evreux');
    load_contour('tma_pontoise');
    load_area('beynes');
    tooltip('Zones de Beynes', [48.97, 1.6]);
    tooltip(levels_to_txt('4500FT AMSL', 0), [49.302, 1.62]);
    tooltip(levels_to_txt('FL115', 0), [48.9435, 1.37]);

</script>
{% endblock map %}
