<aside class="menu is-narrow">
  <a class="menu-item" href="/">
    <img src="{{ url_for('static', filename='img/logo.jpeg')}}" alt="AAVO logo" style="height: 150px;">
  </a>
  <p class="menu-label">
    Club
  </p>
  <ul class="menu-list">
    <li><a href="{{ url_for('frame', src="http://www.netcoupe.net/Results/AirfieldDetail.aspx?AirfieldID=252")}}">NetCoupe</a></li>
    <li><a href="{{ url_for('frame', src="https://www.onlinecontest.org/olc-2.0/gliding/league.html?st=olc-league&r=total&ltp=first&rt=olc&c=FR&sc=&sp=2017")}}">OLC</a></li>
  </ul>
  <p class="menu-label">
    Météo
  </p>
  <ul class="menu-list">
    <li><a href="{{ url_for("frame", src="http://vigilance.meteofrance.com/") }}">Carte de vigilance</a></li>
    <li><a href="{{ url_for("page", name="carte-des-fronts") }}">Cartes des fronts</a></li>
    <li><a href="{{ url_for("frame", src="https://embed.windy.com/embed2.html?lat=49.411&lon=1.428&zoom=7&level=surface&overlay=wind&menu=&message=&marker=&forecast=12&calendar=now&location=coordinates&type=map&actualGrid=&metricWind=km%2Fh&metricTemp=%C2%B0C") }}">Windy</a></li>
    <li><a href="{{ url_for("page", name="carte-des-vents") }}">Cartes des vents</a></li>
    <li><a href="{{ url_for("page", name="hauteur-geopotentielle") }}">Géopotentielle</a></li>
    {% set src = request.scheme + '://' + request.host + url_for('aeroweb', path='anim_sat_single.php?domaine=3&type_image=2&menu_plus=1') %}
    <li><a href="{{ url_for("frame", src=src) }}">Satellite infrarouge</a></li>
    {% set src = request.scheme + '://' + request.host + url_for('aeroweb', path='anim_sat_single.php?domaine=3&type_image=1&menu_plus=1') %}
    <li><a href="{{ url_for("frame", src=src) }}">Satellite visible</a></li>
    {% set src = request.scheme + '://' + request.host + url_for('aeroweb', path='anim_sat_single.php?domaine=3&type_image=3&menu_plus=1') %}
    <li><a href="{{ url_for("frame", src=src) }}">Composition colorée</a></li>
    <li><a href="{{ url_for("page", name="animation-satellite") }}">Animation satellite</a></li>
    {% set src = request.scheme + '://' + request.host + url_for('aeroweb', path='experiment/map_models_hires.php') %}
    <li><a href="{{ url_for("frame", src=src) }}">Modèle maille fine</a></li>
    <li><a href="{{ url_for("bulletins") }}">Productions aérologiques</a></li>
    <li><a href="{{ url_for("frame", src='http://fr.topmeteo.eu/weather/gliding!charts') }}">TopMétéo</a></li>
  </ul>
  <p class="menu-label">
    Espace aérien
  </p>
  <ul class="menu-list">
    <li><a href="{{ url_for('map', name="zones") }}">Zones</a></li>
    <li><a href="{{ url_for('map', name="openaip") }}">Carte aéronautique</a></li>
    <li><a href="{{ url_for('map', name="notams") }}">NOTAMs</a></li>
    <li><a target="_blank" href="https://www.sia.aviation-civile.gouv.fr/dvd/eAIP_12_OCT_2017/Atlas-VAC/PDF_AIPparSSection/VAC/AD/AD-2.LFFC.pdf">Carte VAC</a></li>
  </ul>
</aside>
<script type="text/javascript">
    var url = window.location.href;
    var els = document.querySelectorAll('.menu li a');
    for (var el of els) {
      if (el.href === url) el.classList.add('is-active')
      else el.classList.remove('is-active')
    }
</script>
