<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
    Tableau de bord AAVO
    </a>
  </div>

  <div class="nav-right nav-menu">
    <span class="nav-item"><strong>Pression: </strong>&nbsp;{{ SETTINGS.pressure or '—' }} hPa</span>
    <span class="nav-item"><strong>Zone active:</strong>&nbsp;{{ SETTINGS.active_zone }}</span>
    <span class="nav-item"><strong>Valide pour:</strong>&nbsp;{{ SETTINGS.validity_date }}</span>
    <a class="nav-item" href="{{ url_for('settings') }}">
      <span class="icon">
        <i class="fa fa-gear"></i>
      </span>
    </a>

  </div>
</nav>
