<div class="box tab-root">
  <div>
    <div class="tabs is-centered is-toggle">
      <ul>
        <li class="is-active"><a class="is-medium" href="#wind{{ kind }}900">{{ label }} à {{ utc2localtime(hour=9).strftime('%H:00') }}</a></li>
        <li><a class="is-medium" href="#wind{{ kind }}1200">{{ label }} à {{ utc2localtime(hour=12).strftime('%H:00') }}</a></li>
        <li><a class="is-medium" href="#wind{{ kind }}1500">{{ label }} à {{ utc2localtime(hour=15).strftime('%H:00') }}</a></li>
        <li><a class="is-medium" href="#wind{{ kind }}1800">{{ label }} à {{ utc2localtime(hour=18).strftime('%H:00') }}</a></li>
      </ul>
    </div>
  </div>
  <figure>
    <article id="wind{{ kind }}900">
      <figure class="image">
          {% set path = "affiche_image.php?time=" + now|string + "&type=regional/france/" + kind + "&date=" + today|string + "090000&mode=img&comment=" %}
          <img src="{{ url_for("aeroweb", path=path) }}">
      </figure>
    </article>
    <article id="wind{{ kind }}1200">
      <figure class="image">
          {% set path = "affiche_image.php?time=" + now|string + "&type=regional/france/" + kind + "&date=" + today|string + "120000&mode=img&comment=" %}
          <img src="{{ url_for("aeroweb", path=path) }}">
      </figure>
    </article>
    <article id="wind{{ kind }}1500">
      <figure class="image">
          {% set path = "affiche_image.php?time=" + now|string + "&type=regional/france/" + kind + "&date=" + today|string + "150000&mode=img&comment=" %}
          <img src="{{ url_for("aeroweb", path=path) }}">
      </figure>
    </article>
    <article id="wind{{ kind }}1800">
      <figure class="image">
          {% set path = "affiche_image.php?time=" + now|string + "&type=regional/france/" + kind + "&date=" + today|string + "180000&mode=img&comment=" %}
          <img src="{{ url_for("aeroweb", path=path) }}">
      </figure>
    </article>
  </figure>
</div>
