<!DOCTYPE html>
<html>
<head>
    <title>{% if title %}{{ title }} - {% endif %}Tableau de bord AAVO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css">
    {% block head %}
    {% endblock head %}

</head>
<body>
    <div class="container is-fluid">
        {% include "elements/nav.html" %}
        <div class="columns">
            <div class="column is-narrow">
                {% include 'elements/menu.html' %}
            </div>
            <div class="column">
                <div class="container is-fluid">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="notification {{ category }}">{{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
