{% extends "base.html" %}

{% block body %}
<div class="container" style="overflow: hidden; position: relative; height: calc(100vh - 80px);">
  <iframe src="{{ src }}" style="height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden;"></iframe>
</div>
{% endblock body %}
