{% extends "base.html" %}

{% block body %}
<section>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Tableau de bord AAVO</h1>
    </div>
  </div>
</section>
<div class="tile is-ancestor">
  <div class="tile box">
    <div class="tile is-parent">
      <article class="tile is-child">
        <div class="content">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Pression</p>
                <p class="title">{{ SETTINGS.pressure }} hPa (QNH)</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Zone active</p>
                <p class="title">{{ SETTINGS.active_zone }}</p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Validité</p>
                <p class="title">{{ SETTINGS.validity_date }}</p>
              </div>
            </div>
          </nav>

        </div>
      </article>
    </div>
  </div>
</div>
{% endblock body %}
