{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-hash@0.2.1/leaflet-hash.js"></script>

    <style type="text/css">
        #map {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .container, .columns {
            height: calc(100% - 30px);
            padding: 0;
            margin: 0;
            width: 100%;
            max-width: 100%;
        }
        body, html {
            height: 100vh;
        }
        .sidebar .fa {
            vertical-align: middle;
        }
    </style>
{% endblock head %}


{% block body %}

<div id="map"></div>
<script>

    var map = L.map('map').setView({{ center or [49.1066, 1.6330] }}, {{ zoom or 10 }});
    new L.Hash(map);

</script>

{% block map %}
{% endblock map %}

{% endblock body %}
