{% extends "base.html" %}

{% block body %}
<section>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Configuration</h1>
    </div>
  </div>
</section>
<section class="tile is-ancestor">
  <div class="tile is-4 box">
    <div class="tile is-child">
      <form method='post'>
        {{ form.csrf_token }}
        <div class="field">
          {{ form.pressure.label(class="label") }}
          <p class="control has-icons-right">
            {{ form.pressure(class="input") }}
            <span class="icon is-small is-right"><i class="fa icon-done"></i></span>
          </p>
          <a class="help" id="pressure-button">
            <span class="icon is-small is-right"><i class="fa fa-magic"></i></span>
            Charger depuis OpenWeatherMap
          </a>
          {% if form.pressure.errors %}
            {% for error in form.pressure.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>

        <div class="field">
          {{ form.zone.label(class="label") }}
          <p class="control">
            <span class="select is-fullwidth">
              {{ form.zone(class="is-fullwidth") }}
            </span>
          </p>
          {% if form.zone.errors %}
            {% for error in form.zone.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>

        <div class="field">
          <p class="control">
            <label class="label">Zone voltige</label>
            <label class="checkbox">
              {{ form.acrobatics }}&nbsp;ouverte
            </label>
          </p>
        </div>

        <div class="field is-grouped">
          <p class="control">
            <button class="button is-primary">Envoyer</button>
          </p>
          <p class="control">
            <a href='/' class="button is-link">Annuler</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
<script type="text/javascript">
  var button = document.querySelector('#pressure-button'),
      input = document.querySelector('input[name=pressure]'),
      icon = document.querySelector('.icon-done');
  button.onclick = function () {
    input.classList.add('is-loading');
    fetch('{{ url_for("pressure") }}')
    .then(function(response) {
        return response.text();
    })
    .then(function(data) {
      input.value = data;
      input.classList.remove('is-loading');
      icon.classList.add('fa-check');
    });

  };

</script>
{% endblock body %}
