{% set title="Animation satellite" %}

{% extends "base.html" %}

{% block body %}
<hr>
<div class="tile is-ancestor">
  <div class="tile">
    <div class="tile is-parent box">
      <article class="tile is-child">
        <figure class="image">
            <img src="http://api.sat24.com/animated/FR/visual/2/E_dot_%20Europe%20Standard%20Time/116978">
        </figure>
      </article>
    </div>
  </div>
</div>
<hr>
{% endblock body %}
