{% set title="Productions aérologiques" %}

{% extends "base.html" %}

{% block body %}
<hr>
<h1 class="title">Productions aérologiques</h1>
<div class="tile is-ancestor">
{% for name, zone in zones %}
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="subtitle">{{ name }}</p>
        {{ zone|safe }}
      </article>
    </div>
  </div>
{% endfor %}
</div>
<hr>
{% endblock body %}
