{% set title="Cartes des vents" %}
{# Round the timestamp to the previous hour to help browser caching #}
{% set now=datetime.utcnow().replace(minute=0, second=0).timestamp()|int %}
{% set today=datetime.today().date().isoformat()|replace('-', '') %}
{% set tomorrow=(datetime.today() + timedelta(days=1)).date().isoformat()|replace('-', '') %}

{% extends "base.html" %}

{% block body %}
<hr>
<style type="text/css">
  .tabs {
    margin-bottom: 20px;
  }
  .tab {
    display: none;
  }
  article.is-active {
    display: block;
  }
</style>
{% with label='10m', kind='wind-pmer-10m' %}
  {% include 'elements/wind_tabs.html' %}
{% endwith %}
{% with label='500 m', kind='wind-fl020' %}
  {% include 'elements/wind_tabs.html' %}
{% endwith %}
{% with label='1000 m', kind='wind-fl035' %}
  {% include 'elements/wind_tabs.html' %}
{% endwith %}
{% with label='1500 m', kind='wind-fl050' %}
  {% include 'elements/wind_tabs.html' %}
{% endwith %}
<script type="text/javascript">

  function init_tabs (root) {
    var tabs = root.querySelectorAll('.tabs li')

    function init_tab (tab) {
      var div, tab, link, other;
      link = tab.querySelector('a')
      div = root.querySelector(link.getAttribute('href'))
      div.classList.add('tab')
      if (tab.classList.contains('is-active')) {
        div.classList.add('is-active')
      }
      tab.onclick = function () {
        other = root.querySelector('.tab.is-active')
        other.classList.remove('is-active')
        other = root.querySelector('.tabs li.is-active')
        other.classList.remove('is-active')
        div.classList.add('is-active')
        tab.classList.add('is-active')
        return false  // Prevent anchor
      }

    }
    for (var i = 0; i < tabs.length; i++) init_tab(tabs[i])
  }

  var tabs = document.querySelectorAll('.tab-root')
  for (var tab of tabs) init_tabs(tab);

</script>
{% endblock body %}
