{% set title="Carte des fronts" %}
{% set now=datetime.utcnow().timestamp()|int %}
{% set today=datetime.today().date().isoformat()|replace('-', '') %}
{% set tomorrow=(datetime.today() + timedelta(days=1)).date().isoformat()|replace('-', '') %}

{% extends "base.html" %}

{% block body %}
<div class="tile is-ancestor">
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child">
        <p class="title">Ce matin à {{ utc2localtime(hour=0).strftime('%H:00') }}</p>
        <figure class="image">
            {% set path = "affiche_image.php?time=" + now|string + "&type=front/europeouest&date=" + today|string + "000000&mode=img&comment=" %}
            <img src="{{ url_for("aeroweb", path=path) }}">
        </figure>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child">
        <p class="title">Aujourd'hui à {{ utc2localtime(hour=12).strftime('%H:00') }}</p>
        <figure class="image">
            {% set path = "affiche_image.php?time=" + now|string + "&type=front/europeouest&date=" + today|string + "120000&mode=img&comment=" %}
            <img src="{{ url_for("aeroweb", path=path) }}">
        </figure>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child">
        <p class="title">Demain à {{ utc2localtime(hour=0).strftime('%H:00') }}</p>
        <figure class="image">
            {% set path = "affiche_image.php?time=" + now|string + "&type=front/europeouest&date=" + tomorrow|string + "000000&mode=img&comment=" %}
            <img src="{{ url_for("aeroweb", path=path) }}">
        </figure>
      </article>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <figure class="image">
            <img src="https://aviation.meteo.fr/ressources/images/fr/legende_fronts.png">
        </figure>
      </article>
    </div>
  </div>
</div>
{% endblock body %}
