{% set title="Hauteur géopotentielle" %}

{% extends "base.html" %}

{% block body %}
<div class="tile is-ancestor">
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Ce matin à 00:00 (UTC)</p>
        <figure class="image">
            <img src="http://www.meteoblue.com/uploads/meteobluedata/pub/nmm22/maps/00VHG50_012.jpg">
        </figure>
      </article>
    </div>
  </div>
</div>
<div class="tile is-ancestor">
  <div class="tile">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Ce soir à 00:00 (UTC)</p>
        <figure class="image">
            <img src="http://www.meteoblue.com/uploads/meteobluedata/pub/nmm22/maps/00VHG50_036.jpg">
        </figure>
      </article>
    </div>
  </div>
</div>
{% endblock body %}
